*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
  background-color: #42d8fd; }

.navbar {
  background-color: white;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: auto;
  padding: 1em;
  justify-items: center;
  align-items: center; }
  .navbar__logo {
    margin-top: 7px; }
  .navbar__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
    grid-gap: 1rem; }
    .navbar__list--link {
      text-decoration: none;
      color: #9698a6; }
    .navbar__list--item {
      text-align: center; }

.btn {
  color: #ffffff;
  background: linear-gradient(to right, #31d35c, #2bb7da);
  padding: 0.8rem 2.1rem;
  border: none;
  border-radius: 15rem;
  cursor: pointer;
  font-size: inherit; }
