// COLORS
$color-Dark-Blue: #2d314d;
$color-Lime-Green: #31d35c;
$color-Bright-cyan: ​#2bb7da;
$color-Green-dark: hsl(165, 68%, 52%);

$color-grayish-blue: #9698a6;
$color-Light-grayish-blue: #f3f4f6;
$color-Light-gray: hsl(0, 0%, 98%);
$color-white: #ffffff;
