.navbar {
  background-color: white;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: auto;
  padding: 1em;
  justify-items: center;
  align-items: center;
  z-index: 23423;
  position: relative;

  &__logo {
    margin-top: 7px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
    grid-gap: 1rem;

    &--link {
      text-decoration: none;
      color: $color-grayish-blue;
    }
    &--item {
      text-align: center;
    }
  }
}
