.btn {
  color: $color-white;
  background: linear-gradient(to right, #31d35c, #2bb7da);
  padding: 0.8rem 2.1rem;
  border: none;
  border-radius: 15rem;
  cursor: pointer;
  font-size: inherit;

  &:hover {
    opacity: 0.6;
    transition: 0.3s;
  }
  @include respond(phone) {
    padding: 0.9rem 3rem;
  }
}
.nav__btn {
  @include respond(phone) {
    display: none;
  }
}
